body,html{
    height: 100%;
    margin: 0;

}

.background{
        background-image: url(../img/background.png);
        width: 1600px;
        height: 900px;
        left: 0px;
        top: 0px;
    }

    ul{
        list-style: none;
    }

    *,
    *::after
    *::before{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
